@{
    ViewBag.Title = "View Customers";
}

<div id="sidebar">
    <div class="sidebar-fixed">
        <a href="#menu-toggle" id="menu-toggle">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
        <hr/>
        <a href="#">
            <i class="fa fa-plus" aria-hidden="true"></i><span>New</span>
        </a>
        <hr/>
    </div>
    <ul class="sidebar-nav">
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plus" aria-hidden="true"></i><span>The new item here</span>
            </a>
        </li>

    </ul>
</div>

<div id="sidebar-content">
    <h2>The Index View of Customer</h2>
    <div class="blog-postContent" lang="en"> <p style="margin: 0in 0in 8pt; text-align: justify;"><a href="http://documentdb.com" target="_blank" ms.pgarea="content" ms.cmpgrp="body" ms.cmptyp="link" ms.cmpnm="Azure DocumentDB" ms.title="" ms.interactiontype="1">Azure DocumentDB</a> is a fully managed, globally distributed NoSQL database service backed by an enterprise grade SLA that guarantees 99.99% availability. DocumentDB is a cloud born database perfect for the massive scale and low latency needs of modern applications, with guarantees of &lt;10ms read latency and &lt;15ms write latency at the 99th percentile. A single DocumentDB collection can elastically scale throughput to 10s-100s of millions of request/sec and storage can be replicated across multiple regions for limitless scale, with the click of a button. Along with the flexible data model and rich query capabilities, DocumentDB provides both tenant-controlled and automatic regional failover, transparent multi-homing APIs and four well-defined consistency models for developers to choose from.</p> <p>Due to its flexible schema, rich query capabilities, and availability multiple SDK platforms, DocumentDB makes it easy to develop, evolve and scale modern applications. At the Connect() conference&nbsp;this week, we announced the availability of new developer tools to make it even easier to build applications on DocumentDB.</p> <ul> <li>We're excited to introduce a public preview of the <a href="https://aka.ms/documentdb-emulator-docs" target="_blank" ms.pgarea="content" ms.cmpgrp="body" ms.cmptyp="link" ms.cmpnm="DocumentDB Emulator" ms.title="" ms.interactiontype="1">DocumentDB Emulator</a>, which provides a local development experience for the Azure DocumentDB service. Using the DocumentDB Emulator, you can develop and test your application locally without an internet connection, without creating an Azure subscription, and without incurring any costs. This has long been the most requested feature on the user voice site, so we are thrilled to roll this out everyone that's voted for it.</li> <li>We are also pleased to announce the availability of the <a href="https://aka.ms/documentdb-dotnetcore" target="_blank" ms.pgarea="content" ms.cmpgrp="body" ms.cmptyp="link" ms.cmpnm="DocumentDB .NET Core SDK" ms.title="" ms.interactiontype="1">DocumentDB .NET Core SDK</a>, which lets you build fast, cross-platform .NET web applications and services.</li> </ul> <p><img alt="Azure DocumentDB Emulator" src="https://acomblogimages.blob.core.windows.net/media/Default/blog/Local%20emulator%20300-1.png" style="width: 640px; height: 431px;"></p> <h2>About the DocumentDB Emulator</h2> <p>The DocumentDB Emulator provides a high-fidelity emulation of the DocumentDB service. It supports identical functionality as Azure DocumentDB, including support for creating and querying JSON documents, provisioning and scaling collections, and executing stored procedures and triggers. You can develop and test applications using the DocumentDB Emulator, and deploy them to Azure at global scale by just making a single configuration change.</p> <p>You can use any supported DocumentDB SDK or the DocumentDB REST API to interact with the emulator, as well as existing tools such as the DocumentDB data migration tool and DocumentDB studio.&nbsp; You can even migrate data between the DocumentDB emulator and the Azure DocumentDB service.</p> <p>While we created a high-fidelity local emulation of the actual DocumentDB service, the implementation of the DocumentDB emulator is different than that of the service. For example, the DocumentDB Emulator uses standard OS components such as the local file system for persistence, and HTTPS protocol stack for connectivity. This means that some functionality that relies on Azure infrastructure like global replication, single-digit millisecond latency for reads/writes, and tunable consistency levels are not available via the DocumentDB Emulator.</p> <p>Get started now by <a href="https://aka.ms/documentdb-emulator" target="_blank" ms.pgarea="content" ms.cmpgrp="body" ms.cmptyp="link" ms.cmpnm="downloading the DocumentDB Emulator" ms.title="" ms.interactiontype="1">downloading the DocumentDB Emulator</a> to your Windows desktop.</p> <h2>About the DocumentDB .NET Core SDK</h2> <p style="background: white; margin: 9pt 0in; text-align: justify; line-height: normal;">You can build fast, cross-platform web-apps and services that run on Windows, Mac, and Linux using the new DocumentDB .NET Core SDK. You can download the latest version of the .NET Core SDK via <a href="https://www.nuget.org/packages/Microsoft.Azure.DocumentDB.Core" target="_blank" ms.pgarea="content" ms.cmpgrp="body" ms.cmptyp="link" ms.cmpnm="Nuget" ms.title="" ms.interactiontype="1">Nuget</a>. You can find release notes and additional information in our <a href="https://aka.ms/documentdb-dotnetcore" target="_blank" ms.pgarea="content" ms.cmpgrp="body" ms.cmptyp="link" ms.cmpnm="DocumentDB .NET Core SDK documentation page" ms.title="" ms.interactiontype="1">DocumentDB .NET Core SDK documentation page</a>.</p> <h2 style="background: white; margin: 9pt 0in; text-align: justify; line-height: normal;"><img alt="" src="https://acomblogimages.blob.core.windows.net/media/Default/blog/DocumentDBDotNetCoreOnMac.png" style="width: 640px; height: 373px;"></h2> <h2 style="background: white; margin: 9pt 0in; text-align: justify; line-height: normal;">Next Steps</h2> <p>In this blog post, we looked at some of the new developer tooling introduced in DocumentDB, including the DocumentDB Emulator and DocumentDB .NET Core SDK.</p> <ul> <li>Get started coding now by downloading the <a href="https://aka.ms/documentdb-emulator-docs" target="_blank" ms.pgarea="content" ms.cmpgrp="body" ms.cmptyp="link" ms.cmpnm="DocumentDB Emulator to your desktop" ms.title="" ms.interactiontype="1">DocumentDB Emulator to your desktop</a>!</li> <li>Get started building fast, cross-platform web apps with the new <a href="https://aka.ms/documentdb-dotnetcore" target="_blank" ms.pgarea="content" ms.cmpgrp="body" ms.cmptyp="link" ms.cmpnm="DocumentDB .NET Core SDK" ms.title="" ms.interactiontype="1">DocumentDB .NET Core SDK</a></li> <li>Create a new <a href="https://portal.azure.com/#create/Microsoft.DocumentDB" target="_blank" ms.pgarea="content" ms.cmpgrp="body" ms.cmptyp="link" ms.cmpnm="DocumentDB account from the Azure Portal" ms.title="" ms.interactiontype="1">DocumentDB account from the Azure Portal</a></li> <li>Stay up-to-date on the latest DocumentDB news and features by following us on Twitter <a href="https://twitter.com/DocumentDB" target="_blank" ms.pgarea="content" ms.cmpgrp="body" ms.cmptyp="link" ms.cmpnm="DocumentDB" ms.title="" ms.interactiontype="1">DocumentDB</a> or reach out to us on the <a href="http://stackoverflow.com/questions/tagged/azure-documentdb" target="_blank" ms.pgarea="content" ms.cmpgrp="body" ms.cmptyp="link" ms.cmpnm="developer forums on Stack Overflow" ms.title="" ms.interactiontype="1">developer forums on Stack Overflow</a></li> </ul> </div>
</div>