@{
    ViewBag.Title = "HBD.Mvc.Shell";
}
<h2>@ViewBag.Title.</h2>

<ul>
    <li>Version: 1.0.0</li>

</ul>
<p>
    <a href="https://drunkcoding.net/the-mef-for-mvc-and-documentdb/" target="_blank">About HBD.Mvc.Shell</a>
</p>